@import '../styles/breakpoints';
@import '../styles/variables';

.table {
  width: 95%;
  margin: 0 auto;
  
  tbody {
    padding-left: 5%;
    padding-right: 5%;
    
    tr {
      transition: background-color 0.2s;
      font-size: 20px;
      width: 95%;
      padding: 0 15%;
    
      @include respond-below('desktop') {
        font-size: 16px;
      }
    
      @include respond-below('tablet') {
        font-size: 10px;
      }
        
      td {
        text-align: left;
        vertical-align: middle;
    
        // First column (count)
        &:first-child {
          width: 25%;
        }
    
        // Second column (cardCountsArray)
        &:nth-child(2) {
          width: 38px;
          color: #008000;
        }
    
        // Third column (percentage)
        &:last-child {
          width: 37%;
          font-weight: 600;
          text-align: right;
          color: #f00;
        }
      }
    }
  }
}
    
.cardName {
  font-size: 20px;
  padding-left: 5%;
  padding-right : 5%;
  padding-top: 5px;
  margin-bottom: 0;
  font-weight: bold;

  @include respond-below('desktop') {
    font-size: 16px;
  }

  @include respond-below('tablet') {
    font-size: 10px;
  }
}

.card {
  padding: 0;
  padding-top: 10px;
  font-size: 20px;
  background-color: rgb(192, 229, 240);
  box-shadow: 0 0 10px 0 rgba(221, 8, 8, 0.1);

  @include respond-below('desktop') {
    font-size: 16px;
  }
  
  @include respond-below('tablet') {
    font-size: 10px;
  }
}

.cardImage {
  padding-left: 3%;
  padding-right: 3%;
}